<div class="icons">
  <img src="assets/login-icon-1.png" class="icon1" *ngIf="login1" />
  <img src="assets/login-icon-2.png" class="icon2" *ngIf="login2" />
</div>


  <div id="recaptcha-container"></div>


<div class="login1" *ngIf="login1">
  
  <div class="form-group">
    <input [(ngModel)]="phone_number" class="form-field" />
  </div>

</div>
<div *ngIf="login1">
  <button (click)="signup()">SIGN UP</button>
</div>


<div class="login2" *ngIf="login2">
  <div class="form-group">
    <input [(ngModel)]="verif_code" type="text" class="form-field" />
  </div>
  
  <div class="form-group">
    <button (click)="verifyLoginCode()" class="form-field">Verif code</button>
  </div>
</div>